.board{
  display: flex;


  &__game{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: 50px;
  }

 &__text{
   width: 120px;
   height: 100px;
   padding: 0;
   margin: 0;
   display: flex;
   font-size: 18px;
   flex-direction: column;

   &p{
     padding: 0;
     margin: 0;
   }

   &_current-player{
     font-weight: 800;
   }
 }

  &__winner{
    font-weight: 800;
  }
}


.refreshBtn{
  width: 100%;
  margin-top: 20px;
  height: 30px;
  cursor: pointer;
  border-radius: 3px;

  &:hover{
    background: #dddddd;
  }
}


@media all and (max-width: 600px){
  .board{
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;

    &__game{
      width: 300px;
      margin-right: 0;
    }
  }

}
