.header{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  width: 80vw;
  align-items: center;

  &__title{
    font-size: 60px;
    margin: 0;
    padding: 0;
    line-height: 48px;
    letter-spacing: 4px;
    margin-left: 70px;
    margin-bottom: 20px;
  }
}

@media all and (max-width: 600px){
  .header{

    &__title{
      margin-left: 0;
      font-size: 48px;
    }
  }
}